* text=auto eol=lf

*.blade.php linguist-language=PHP
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Ignore vendor and public assets from statistics
public/css/* linguist-vendored
public/js/* linguist-vendored
public/images/* linguist-vendored
public/vendor/* linguist-vendored
public/extensions/* linguist-vendored
public/fonts/* linguist-vendored
public/build/* linguist-vendored

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
